<div class="classDiv" >
    <h2 (click)= "toggleStudents()">{{passedClass.className}}</h2>
    <p>Students</p>
    
    <button id="editClassBtn" (click)="editClass()">Edit Class</button>
    <button id="deleteClassBtn" (click)="deleteClass()">Delete Class</button>

    <div class="studentDiv">
    <table id="users" *ngIf="toggle">
        <tr>
        <th *ngFor = "let column of headers">
            {{column}}
        </th>
        <th></th>
        </tr>
    
        <tr *ngFor = "let row of students">
        <td *ngFor = "let column of headers">
            {{row[column]}}
        </td>
        <td>
            <button [routerLink] = "" >Delete</button>
            <button  [routerLink]="['/student/']"
                [queryParams]="{st:row | json }"> Edit</button>

        </td>
        </tr>
    
    </table>
    

</div>
</div>
