.classDiv:hover{
    background-color: whitesmoke;
}
.classDiv{
    padding: 1em;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 2px solid black;
  }